<!DOCTYPE html>
<html>
<!-- head -->
<%- include('./partials/head') %>
<body class="container">
    <!-- header -->
    <%- include('./partials/header') %>
    <!--Comienzo código del carrito de compra-->
    <div class="cart-header col-12" >
        <h3 class="cart-title" ><i class="fas fa-shopping-basket"></i><strong> Carrito de compra</strong></h3></br>
    </div>
    <!--SECTION-->
    <div class ="container productsCart">
        <div class = "row">
            <div class="products-cart col-12">
                <center>
                    <article class ="productCart">
                        <div>
                            <img class="cart-image col-md-4" src="/images/mesa1.jpg" alt="producto-mesa">
                        </div>
                        <div id="col-12">
                            <span class="col-12"><br>Mesa</span><br>
                            <p class="col-12">Precio: $19.990,00</p>
                            <a class="see-product-cart col-12" href="/products/:id">Ver producto</a>
                            <button type="submit" class="deleteProduct-btn">Eliminar</button>
                        </div>
                    </article>
                    <article class ="productCart">
                        <div>
                            <img class="cart-image col-md-4" src="/images/silla-1-1.jpg" alt="producto-silla">
                        </div>
                        <div id="col-12">
                            <span class="col-12"><br>Silla</span><br>
                            <p class="col-12">Precio: $2.600,00</p>
                            <a class="see-product-cart col-12" href="/products/:id">Ver producto</a>
                            <button type="submit" class="deleteProduct-btn">Eliminar</button>
                        </div>
                    </article>
                </div>
            </center>
        </div>
        <div id="ticket" class="discountCart">
            <center>
                <h5 class="col-12">Usar cupón de descuento</h5>
                <input class="col-10" id="textField" type="text" placeholder="Introduzca aquí su cupón" class ="ticket-input">
                <button class="discount-btn col-3" type="submit" class="discount-btn">Aplicar</button>
            </center>
        </div>
        <center>
            <div class="col-12">
                <div id="col-8 col-md-3">
                    <button type="submit" class="cart-options"><a href="/products/:id">Agregar más productos</a></button>
                </div>
                <div id="col-8 col-md-3">
                    <button type="submit" class="cart-options"><a href="/productCartPayment"><b>Continuar compra</b></a></button>
                </div>
                <div id="col-8 col-md-3">
                    <button type="submit" class="cart-options">Volver a atrás</button>
                </div>
            </div>
        </center>
        <!--SECTION-->
        
        <!-- footer -->
        <%- include('./partials/footer') %>
    </body>
</html>