<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="shortcut icon" href="/images/Logo2.png"img>

    <script src="https://kit.fontawesome.com/f29a46c1ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 logo">
                    <img src="/images/Logo.png" alt="">
                </div>
                <div class="buscar col-12 col-md-6">
                    <input  type="text" placeholder="Buscar productos" class ="buscar-input">
                    <button type="submit" class="buscar-btn"><i class="fas fa-search"></i></button>
                </div>
                <div class="btn-toggle-navbar">
                    <nav class="navbar navbar-dark bg-ligth">
                        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="p-1">
                            <ul class="">
                                <li><a href="/">Home</a></li>
                                <li><a href="/productDetail">Productos</a></li>
                                <li><a href="#">Sobre Nosotros</a></li>
                            </ul>
                            <ul class="" id="navbarToggleExternalContent">
                                <li><a href="/login">Iniciar sesión <i class="far fa-address-card"></i></a></li>
                                <li><a href="/productCart">Carrito <i class="fas fa-shopping-basket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class ="menu-md">
                    <ul class="menu-der col-md-12">
                        <li><a href="/login"><i class="far fa-address-card"></i> Iniciar sesión</a></li>
                        <li><a href="/productCart"><i class="fas fa-shopping-basket"></i> Carrito</a></li>
                    </ul>
                    <ul class="menu-ppal col-md-12">
                        <li class="col-md-2"><a href="/">Home</a></li>
                        <li class="col-md-2"><a href="/productDetail">Productos</a></li>
                        <li class="col-md-2"><a href="#">Sobre Nosotros</a></li>
                        <li class="col-md-6 text-right"><input type="text" placeholder="Buscar productos" class ="buscar-input">
                            <button type="submit" class="buscar-btn"><i class="fas fa-search"></i></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER -->

        <!--Comienzo código del carrito de compra-->
    <div class ="container">
        <div class="cart-header" >
          <h3 class="cart-title" ><i class="fas fa-shopping-basket"></i><strong> Carrito de compra</strong></h3></br>
        </div>
        <!--SECTION-->
        <section class="carrito">
          <div class="productosCarro">
          <div id="producto1">
            <center>
              <span><br>Mesa</span><br>
              <p>Precio: $19.990,00</p>
              <img width="30%" src="/images/mesa1.jpg" alt="producto-mesa">
              <a href="/productDetail">Ver producto</a>
            </center>
          </div>
          <div id="producto2">
            <center>
              <span><br>Silla</span><br>
              <p>Precio: $2.600,00</p>
              <img width="30%" src="/images/silla-1-1.jpg" alt="producto-silla">
              <a href="/productDetail">Ver producto</a>
            </center>
         </div>
      </div>

          <div id="cupon" class="descuento">
            <center>
              <h5>Usar cupón de descuento</h5>
              <input id="campoTexto" type="text" placeholder="Introduzca aquí el número" class ="ticket-input">
              <button type="submit" class="discount-btn">Aplicar</button>
            </center>
          </div>

          <div id="botones_opciones">
            <button type="submit" class="addproduct-btn"><a href="/productDetail">Agregar más productos</a></button>
            <button type="submit" class="continuebuy-btn"><a href="/productCartPayment"><b>Continuar compra</b></a></button>
          </div>

          <div id="boton_atras">
            <button type="submit" class="back-btn">Volver a atrás</button>
          </div>
        </section>
        <!--SECTION-->
      </div>
      <!--
      <h2 align="center">Productos en el carrito</h2>
      <section>
          <div id="productosAgregados" class="productoCarrito col-12 col-lg-4">
            <center id="producto1">
              <span><br>Mesa</span><br>
              <img width="30%" src="../public/images/mesa1.jpg" alt="producto-mesa">
              <a href="../views/productDetail.html">Ver producto</a>
            </center>
            <center id="producto2">
              <span><br>Silla</span><br>
              <img width="30%" src="../public/images/silla-1-1.jpg" alt="producto-silla">
              <a href="../views/productDetail.html">Ver producto</a>
            </center>
            <!-- <center>
              <span><br>Mesa y Sillas</span><br>
              <img width="30%" src="../public/images/mesaysilla.jpg" alt="producto-mesa_y_silla">
              <a href="../views/productDetail.html">Ver producto</a>
            </center> -->
         <!-- </div>

          <div id="cupon" class="descuento">
            <center>
              <h5>Usar cupón de descuento</h5>
              <input id="campoTexto" type="text" placeholder="Introduzca aquí el número" class ="ticket-input">
              <button type="submit" class="discount-btn">Aplicar</button>
            </center>
          </div>

          <div id="botones_opciones">
            <button type="submit" class="addproduct-btn">Agregar más productos al carrito</button>
            <button type="submit" class="continuebuy-btn">Continuar compra</button>
          </div>

          <div id="boton_atras">
            <button type="submit" class="back-btn">Volver a atrás</button>
          </div>
      </section>-->
      <!--SECTION-->

        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row footer">
                    <div class="contacto col-12 col-lg-3">
                        <ul>
                            <h6 class="footer-titulo">Contacto</h6>
                            <li>Dirección</li>
                            <li>Teléfono</li>
                            <li>Mail</li>
                        </ul>
                    </div>
                    <div class="suscribite col-12 col-lg-3">
                        <h6 class="footer-titulo">Suscribite a nuestro newsletter para recibir las mejores ofertas</h6>
                        <input  type="email" placeholder=" Tu mail">
                        <button type="submit" class="suscripcipn-btn">Suscribirme</button>
                    </div>
                    <div class="preguntas col-12 col-lg-3">
                        <ul>
                            <h6 class="footer-titulo">Preguntas frecuentes</h6>
                            <li>¿Cómo comprar?</li>
                            <li>Medios de pago</li>
                            <li>Envíos</li>
                        </ul>
                    </div>
                    <div class="redes col-12 col-lg-3">
                        <ul>
                            <h6 class="footer-titulo">Seguinos en las redes sociales</h6>
                            <a href=""><i class="fab fa-instagram redes-icono"></i></a>
                            <a href=""><i class="fab fa-facebook redes-icono"></i></a>
                            <a href=""><i class="fab fa-whatsapp redes-icono"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>