<!DOCTYPE html>
<html>
<!-- head -->
<%- include('./partials/head') %>
<body class="container">
    <!-- header -->
    <%- include('./partials/header') %>
    <!-- Products -->
    <h2 class="products-title">Todos</h2>
    <div class="container">
        <div class="row">
            <div class ="view-products">
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
                <article class="view-product col-12 col-md-4 col-lg-3">
                    <div>
                        <img src="/images/sofa3.jpg" alt="">
                        <h5 class="product-name"><a href="/products/:id">Sillón Verde</a></h5>
                        <h5 class="product-price">$27.000</h5>
                    </div>
                </article>
            </div>
        </div>
    </div>
    
    <!-- Products --> 
    <!-- footer -->
    <%- include('./partials/footer') %>    
</body>
</html>