<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 logo">
          <a href="/"><img src="/images/Logo.png" alt="logo"></a>
        </div>
        <div class="buscar col-12 col-md-6">
          <input  type="text" placeholder="Buscar productos" class ="buscar-input">
          <button type="submit" class="buscar-btn"><i class="fas fa-search"></i></button>
        </div>
        <div class="btn-toggle-navbar">
          <nav class="navbar navbar-dark bg-ligth">
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-1">
              <ul class="">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
              </ul>
              <ul class="" id="navbarToggleExternalContent">
                <li><a href="/login">Iniciar sesión <i class="far fa-address-card"></i></a></li>
                <li><a href="/productCart">Carrito <i class="fas fa-shopping-basket"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class ="menu-md">
          <ul class="menu-der col-md-12">
            <li><a href="/login"><i class="far fa-address-card"></i> Iniciar sesión</a></li>
            <li><a href="/productCart"><i class="fas fa-shopping-basket"></i> Carrito</a></li>
          </ul>
          <ul class="menu-ppal col-md-12">
            <li class="col-md-2"><a href="/">Home</a></li>
            <li class="col-md-2"><a href="/products">Productos</a></li>
            <li class="col-md-2"><a href="#">Sobre Nosotros</a></li>
            <li class="col-md-6 text-right"><input type="text" placeholder="Buscar productos" class ="buscar-input">
              <button type="submit" class="buscar-btn"><i class="fas fa-search"></i></button></li>
            </ul>
          </div>
        </div>
      </div>
    </header>